#e{
    background-color:hotpink;
    border:1 px solid gold;
}
.b{
    background-color:black;
    border:1 px blueviolet mediumseagreen;
    color: rosybrown;
}

.c{
    background-color:gray
    
}

